{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <div class="mb-4">
            <h4>Comment Create</h4>
        </div>
        <form action="{% url 'postcommentapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% if user.is_authenticated %}

            <div>
                <input type="checkbox" name="anonymous" value="y">
                <span style="font-size: 1rem;">익명</span>
            </div>

            <input type="submit" class="btn btn-dark rounded-pill col-3 mt-3">
            {% else %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}"
                class="btn btn-primary">
                Login
            </a>
            {% endif %}

            <input type="hidden" name="post_pk" value="{{ post.pk }}">
        </form>
    </div>

{% endblock %}