<div style="border: 1px solid; text-align: left; padding: 4%; margin: 1rem 0; border-radius: 1rem;
            border-color: #bbb;">
  <div style="vertical-align: middle; text-align: left; margin: 0.4rem; margin-top: 0.3rem">
    <div style="text-align: center; box-shadow: #d4d4d4 0px 0px 5px; border-radius: 10rem;
            display: inline-block;">

        <img style="display: inline-block;    width: 2rem; height: 2rem; object-fit: cover;
                      border-radius: 10rem; box-shadow: #cccccc 0px 0px 5px;
                       margin: .3rem -0.3rem .3rem .3rem"
                  src="{{ postcomment.writer.profile.image.url }}" alt="">
        <p style="text-align: center; vertical-align: middle; display: inline-block;
              font-family: 'NanumSquareB', sans-serif; font-size: 1.1rem;
               margin: 0.3rem 0.6rem 0.3rem 0.6rem;">{{ postcomment.writer.profile.nickname }}</p>

  </div>
    &nbsp&nbsp&nbsp
    {{ postcomment.created_at }}
  <div style="margin: 1rem 0;">
    {{ postcomment.content }}
  </div>
  {% if postcomment.image %}
  <img style="width: 100%; border-radius: 1rem; margin: 2rem 0;"
       src="{{ postcomment.image.url }}" alt="">
  {% endif %}

  {% if postcomment.writer == user %}
  <div style="text-align: right">
    <a href="{% url 'postcommentapp:delete' pk=postcomment.pk %}" class="btn btn-secondary rounded-pill col-3 mt-3">
      Delete
    </a>
  </div>
  {% endif %}
</div>
