

.radhelper_logo {
    font-family: 'Press Start 2P', cursive;
}


.radhelper_footer_button {
    font-size: .9rem;
}


.radhelper_footer {
    text-align:center;
    margin-top: 2rem;
}

.radhelper_header {
    text-align:center;
    margin: 2rem 0;
}

