<div style="border: 1px solid; text-align: left; padding: 4%; margin: 1rem 0; border-radius: 1rem;
            border-color: #bbb;">
  {% if comment.anonymous == True %}
  <span>익명</span>
  {% else %}
  <div style="vertical-align: middle; text-align: left; margin: 0.4rem; margin-top: 0.3rem">
    <div style="text-align: center; box-shadow: #d4d4d4 0px 0px 5px; border-radius: 10rem;
            display: inline-block;">
       <a href="{% url 'accountapp:detail' pk=comment.writer.pk %}">
          <img style="display: inline-block;    width: 2rem; height: 2rem; object-fit: cover;
                        border-radius: 10rem; box-shadow: #cccccc 0px 0px 5px;
                         margin: .3rem -0.3rem .3rem .3rem"
                    src="{{ comment.writer.profile.image.url }}" alt="">
          <p style="text-align: center; vertical-align: middle; display: inline-block;
                font-family: 'NanumSquareB', sans-serif; font-size: 1.1rem;
                 margin: 0.3rem 0.6rem 0.3rem 0.6rem;">{{ comment.writer.profile.nickname }}</p>
       </a>
    </div>
  </div>
  {% endif %}
    &nbsp&nbsp&nbsp
    {{ comment.created_at }}
  <div style="margin: 1rem 0;">
    {{ comment.content }}
  </div>
  {% if comment.image %}
    <img style="width: 100%; border-radius: 1rem; margin: 2rem 0;"
         src="{{ comment.image.url }}" alt="">
  {% endif %}

  {% if comment.writer == user %}
  <div style="text-align: right">
    <a href="{% url 'commentapp:delete' pk=comment.pk %}" class="btn btn-secondary rounded-pill col-3 mt-3">
      Delete
    </a>
  </div>
  {% endif %}
</div>