{% extends 'base.html' %}

{% block content %}

  <div>
    <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
      <h1>
        {{ target_article.title }}
      </h1>
      <div style="height: 2rem;">
        <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
          <i style="vertical-align: middle; font-size: 1.2rem;"
            class="material-icons">
            thumb_up_off_alt
          </i>
        </a>
        <span style="vertical-align: middle; font-size: 1.2rem; margin: 0 .5em;">
          {{ target_article.like }}
        </span>
      </div>
      <div style="vertical-align: middle; text-align: left; margin: 0.4rem; margin-top: 0.3rem">
        <div style="text-align: center; box-shadow: #d4d4d4 0px 0px 5px; border-radius: 10rem;
            display: inline-block;">
          <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}">
            <img style="display: inline-block;    width: 2rem; height: 2rem; object-fit: cover;
                      border-radius: 10rem; box-shadow: #cccccc 0px 0px 5px;
                       margin: .3rem -0.3rem .3rem .3rem"
                  src="{{ target_article.writer.profile.image.url }}" alt="">
            <p style="text-align: center; vertical-align: middle; display: inline-block;
              font-family: 'NanumSquareB', sans-serif; font-size: 1.1rem;
               margin: 0.3rem 0.6rem 0.3rem 0.6rem;">{{ target_article.writer.profile.nickname }}</p>
          </a>


        </div>
          <span class='text-muted'>
            <i style="vertical-align: middle; font-size: 1.2rem; margin: 0 .5em;"
               class="material-icons">
                schedule
            </i>
            {{ target_article.created_at }}
          </span>
      </div>
      <hr>

      <img style="width: 100%; border-radius: 1rem; margin: 0.1rem 0;"
              src="{{ target_article.image.url }}" alt="">
      {% if target_article.image2 %}
        <img style="width: 100%; border-radius: 1rem; margin: 0.1rem 0;"
               src="{{ target_article.image2.url }}" alt="">
      {% endif %}

      {% if target_article.image3 %}
        <img style="width: 100%; border-radius: 1rem; margin: 0.1rem 0;"
                src="{{ target_article.image3.url }}" alt="">
      {% endif %}

      {% if target_article.image4 %}
        <img style="width: 100%; border-radius: 1rem; margin: 0.1rem 0;"
                src="{{ target_article.image4.url }}" alt="">
      {% endif %}

      {% if target_article.image5 %}
        <img style="width: 100%; border-radius: 1rem; margin: 0.1rem 0;"
                src="{{ target_article.image5.url }}" alt="">
      {% endif %}


      <div class="text-left">
        {{ target_article.content | safe }}
      </div>

      {% if target_article.writer == user %}
      <a href="{% url 'articleapp:update' pk=target_article.pk %}"
      class="btn btn-primary rounded-pill col-3 mt-3">
        Update
      </a>
      <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
      class="btn btn-secondary rounded-pill col-3 mt-3">
        Delete
      </a>
      {% endif %}
      <hr>

      {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
      {% endfor %}

      {% include 'commentapp/create.html' with article=target_article %}
    </div>
  </div>

{% endblock %}